In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('title.ratings.tsv', sep="\t", index_col="tconst", nrows=None)

In [3]:
df.head()

           averageRating  numVotes
tconst
tt0000001            5.6      1656
tt0000002            6.1       201
tt0000003            6.5      1368
tt0000004            6.2       122
tt0000005            6.2      2151

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1086798 entries, tt0000001 to tt9916778
Data columns (total 2 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   averageRating  1086798 non-null  float64
 1   numVotes       1086798 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 24.9+ MB

In [5]:
df.shape

(1086798, 2)

In [6]:
df.describe()

       averageRating      numVotes
count   1.086798e+06  1.086798e+06
mean    6.886840e+00  9.569456e+02
std     1.398096e+00  1.595653e+04
min     1.000000e+00  5.000000e+00
25%     6.100000e+00  9.000000e+00
50%     7.100000e+00  2.000000e+01
75%     7.900000e+00  7.800000e+01
max     1.000000e+01  2.300391e+06

In [7]:
df.isnull().sum()

averageRating    0
numVotes         0
dtype: int64

In [15]:
df.loc[df.index == 'tt10354742']

            averageRating  numVotes
tconst
tt10354742            8.3        12